body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
}

img {
  max-width: 100%;
  display: block;

}

  /* Typography */

h1, 
h2,
h3 {
  font-family: 'Lora', serif;
  font-weight: 400;
  color: #143774;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

p {
  color: #707070;
}

strong {
  font-weight: 700;
}

/* Header Subtitle */
.subtitle {
  color: #1792d2;
  font-size: .75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .15rem;
  margin: 0;
}

.article-title {
  font-size: 1.5rem;
}

.article-read-more,
.article-info {
  font-size: .875rem;
}

.article-read-more {
  text-decoration: none;
  font-weight: 700;
  color: #1792d2;
  text-transform: uppercase;
}

.article-read-more:hover,
.article-read-more:focus {
  color: #1792d2;
  text-decoration: underline;
  text-transform: uppercase;
}

.article-info {
  margin: 2em 0;
}

.inline-link {
  color: #1792d2;
}

.footer-text {
  color: #FFFFFF;
  text-align: center;
  margin: 5px 0;
  opacity: .54;
}

  /* Navigation  */

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 0 0 2em;
}

nav a {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #707070;
  text-decoration: none;
  letter-spacing: .15rem;
  padding: .25em;
}

nav a:hover,
nav a:focus {

  color: #1792d2;
}

.current-page {
  border-bottom: 1px solid #707070;
}

.current-page:hover {
  color: #707070;
  text-decoration: none;
}

  /* Layout */

header {
  background: #f8f8f8;
  padding: 2.5em;
  text-align: center;
} 

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

footer {
  background: #143774;
  padding: 30px;
}

  /* Media Queries */

@media (min-width: 675px) {
  .container-flex {
    flex-direction: row;
  }

  main {
    width: 75%;
  }

  .sidebar {
    width: 20%;
  }
}

  /* Articles */

.article-featured {
  border-bottom: #707070 1px solid;
  padding-bottom: 2em;
  margin-bottom: 2em;
}
